.Category-list {
  right: 0;
  top: 70px;
  left: 0;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  column-gap: 20px;
  background-color: white;
  padding: 10px;
  position: fixed;
}
.Category-list button {
  width: 100px;
  height: 30px;
  border: 1px solid rgb(228, 29, 29);
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  color: rgb(228, 29, 29);
  font-weight: bold;
  transition: background-color 2s;
}
.Category-list button:hover {
  background-color: rgb(228, 29, 29);
  color: white;
  font-weight: bold;
}
